/* 🔍 플로팅 버튼(FAB) 위치 고정 */
.fab {
  text-decoration: none;
  position: fixed;
  bottom: 30px;
  width: 60px;
  height: 60px;
  background-color: #2563eb;
  color: white;
  border-radius: 30px;
  z-index: 999; /* Swiper보다 위에 오도록 */
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  pointer-events: auto;

  /* 💡 화면 중앙(50%)으로 보낸 뒤, 컨테이너 절반만큼 오른쪽으로 이동 */
  right: 10%;
  /* transform: translateX(300px);  */

  /* 📱 모바일(작은 화면) 대응 */
  @media (max-width: 720px) {
    left: auto;
    right: 20px;
    transform: none;
  }
}